In [1]:
import numpy as np
import pandas as pd

In [2]:
income = pd.read_csv("../../datasets/income/adult.csv")
income

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [7]:
cat_column_mask = income.dtypes == object
cat_column_mask

age               False
workclass          True
fnlwgt            False
education          True
education.num     False
marital.status     True
occupation         True
relationship       True
race               True
sex                True
capital.gain      False
capital.loss      False
hours.per.week    False
native.country     True
income             True
dtype: bool

In [11]:
cat_income = income[income.columns[cat_column_mask]]
cat_income

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,?,HS-grad,Widowed,?,Not-in-family,White,Female,United-States,<=50K
1,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,United-States,<=50K
2,?,Some-college,Widowed,?,Unmarried,Black,Female,United-States,<=50K
3,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,United-States,<=50K
4,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
32556,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K
32557,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32558,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32559,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32560,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K

In [15]:
cat_income.isnull().any()

workclass         False
education         False
marital.status    False
occupation        False
relationship      False
race              False
sex               False
native.country    False
income            False
dtype: bool

In [17]:
cat_income.value_counts() # vocabulary

workclass    education     marital.status         occupation         relationship  race   sex     native.country  income
Private      HS-grad       Married-civ-spouse     Craft-repair       Husband       White  Male    United-States   <=50K     548
             Bachelors     Married-civ-spouse     Exec-managerial    Husband       White  Male    United-States   >50K      369
             HS-grad       Married-civ-spouse     Machine-op-inspct  Husband       White  Male    United-States   <=50K     268
                                                  Craft-repair       Husband       White  Male    United-States   >50K      255
             Bachelors     Married-civ-spouse     Prof-specialty     Husband       White  Male    United-States   >50K      223
                                                                                                                           ...
             Assoc-acdm    Married-civ-spouse     Sales              Wife          White  Female  United-States   >50K        1
                                                                                   Other  Female  United-States   >50K        1
                                                                     Own-child     White  Female  United-States   <=50K       1
                                                                     Husband       White  Male    Mexico          <=50K       1
Without-pay  Some-college  Married-spouse-absent  Farming-fishing    Unmarried     White  Female  United-States   <=50K       1
Name: count, Length: 9646, dtype: int64

In [33]:
vocab = []
for col in cat_income.columns:
    vocab.append(cat_income[col].unique())
vocab = np.hstack(vocab)
vocab

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked',
       'HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool',
       'Widowed', 'Divorced', 'Separated', 'Never-married',
       'Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse',
       '?', 'Exec-managerial', 'Machine-op-inspct', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Craft-repair',
       'Transport-moving', 'Handlers-cleaners', 'Sales',
       'Farming-fishing', 'Tech-support', 'Protective-serv',
       'Armed-Forces', 'Priv-house-serv', 'Not-in-family', 'Unmarried',
       'Own-child', 'Other-relative', 'Husband', 'Wife', 'White', 'Black',
       'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo', 'Female',
       'Male', 'United-States', '?', 'Mexico', 'Greece', 'Vietnam',
       'China', 'Taiwan', 'India', 'Philippines', 'Trinadad&Tobago',
       'Canada', 'South', 'Holand-Netherlands', 'Puerto-Rico', 'Poland',
       'Iran', 'England', 'Germany', 'Italy', 'Japan', 'Hong', 'Honduras',
       'Cuba', 'Ireland', 'Cambodia', 'Peru', 'Nicaragua',
       'Dominican-Republic', 'Haiti', 'El-Salvador', 'Hungary',
       'Columbia', 'Guatemala', 'Jamaica', 'Ecuador', 'France',
       'Yugoslavia', 'Scotland', 'Portugal', 'Laos', 'Thailand',
       'Outlying-US(Guam-USVI-etc)', '<=50K', '>50K'], dtype=object)

In [36]:
vocab = np.unique(vocab)

In [37]:
cat_income.to_csv("cat_income.csv")